[Unit]
Description=Allen Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/allen/packages/server
EnvironmentFile=/home/ubuntu/allen/.env.production
ExecStart=/usr/bin/node dist/app.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
